<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!--bootstrap link applied to shared layout screen so it will apply to every page-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--link for cart icon-->
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />

</head>
<body>

    <!--the black band across the top of all pages that use shared layout-->
    <!--view cart summary-->
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">Book Store</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h1 class="text-center"> Welcome to the Book Store</h1>
            <p>Here are some of our FAVORITE books that we recommend! Select a type to view by classification</p>
        </div>
    </div>

    <!--this is from the navigationmenuviewcomponent-->
    <vc:navigation-menu />




    <div>
        @RenderBody()
    </div>

</body>
</html>
